<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../inc/header')  %> 
    <title>Settings</title>
</head>
<body>
    <div class="container">
        <%- include('../inc/navBar')  %> 
       <h2>User List</h2>

       <div class="row">
        <% if (users) { %>
        <% users.forEach(item => { %>
            <div class="card col-sm-3 mb-3">
                <img src="https://i.pravatar.cc/300?id=<%= item.id %>"  class="card-img-top">
                <div class="card-body">
                  <p class="card-text"><i class="bi bi-person"></i> <%= item.name %> </p>
                  <p class="card-text"><i class="bi bi-envelope"></i> <%= item.email %> </p>
                  <p class="card-text"><i class="bi bi-telephone"></i> <%= item.phone %> </p>
                </div>
            </div>
        <% }) %>
        <% } %>
        </div>

    </div>
</body>
</html>